<app-header></app-header>
<div class="task-container">
  <h2>Task Three</h2>
  <br>
  <h4>Vektör Tabanlı Katman İşleme (.kml Poligonlar):</h4>
  <ul>
    <li>Haritaya, .kml formatında poligon ağları içeren bir katman ekleyin. Bu katmanın harita üzerinde doğru şekilde görüntülendiğinden emin olun.</li>
    <li>Kullanıcıların bu poligonları düzenleyebileceği interaktif araçlar geliştirin (örneğin, poligon çizme, yeniden boyutlandırma, şekil değiştirme, .kml dosyasındaki verilerin pop-up şeklinde gösterimi vb.).</li>
    <li>Poligonların üzerinde metin etiketleri veya bilgi baloncukları gibi ek bilgi katmanları ekleyebilme özelliği sağlayın.</li>
  </ul>
</div>
<div class="flex-body">
  <div class="map-container">
    <div class="map-frame">
      <div id="task-three-map"></div>
    </div>
  </div>
  <div id='tooltip'></div>
</div>

<app-footer></app-footer>

