<app-header></app-header>
<div class="task-container">
  <h2>Task One</h2>
  <br>
  <h4>Harita Altlığı Oluşturma ve Özelleştirme</h4>
  <ul>
    <li>Leaflet, OpenLayers veya benzeri bir JavaScript harita kütüphanesini kullanarak dinamik ve özelleştirilebilir
      bir harita altlığı oluşturun.</li>
    <li>Harita üzerinde temel navigasyon kontrolleri (zoom in/out vb.) ve özelleştirilebilir arayüz elemanları
      ekleyin.</li>
  </ul>
</div>

<div class="flex-body">
  <div class="map-container">
    <div class="map-frame">
      <div id="task-one-map"></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>


