<app-header></app-header>
<div class="flex-body">
  <div class="case-info-container">
    <h1>MapperX Case Study</h1>
    <p>This website is prepared for MapperX Case Study. Details about each task can be found on the respective pages.
      Links to each task are given in the header.</p>
    <hr>
    <h3>Used Technologies & Versions</h3>
    <ul>
      <li>Node: 21.5.0</li>
      <li>Angular CLI: 16.0.6</li>
      <li>npm: 10.2.5</li>
      <li>Angular: 16.2.12</li>
      <li>Typescript: 5.0.4</li>
    </ul>
    <br>
    <h3>Used Packages & Versions</h3>
    <ul>
      <li>angular/material: 16.2.12</li>
      <li>leaflet: 1.9.4</li>
      <li>leaflet-editable: 1.2.0</li>
      <li>leaflet.path.drag: 0.0.6</li>
      <li>georaster: 1.6.0</li>
      <li>georaster-layer-for-leaflet: 3.10.0</li>
    </ul>
    <p style="color: grey;">*Other packages and dependencies can be found in package.json</p>
  </div>
  <app-footer></app-footer>
</div>
