<footer>
  <mat-grid-list cols="3" rowHeight="2:1">
    <!-- ROW 1 -->
    <mat-grid-tile style="align-items: center!important;">
      <h1>MapperX</h1>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="info-container">
        <h4>Info: </h4>
        <p>Prepared by: <b>Göktuğ Çağıran</b></p>
        <p>For MapperX Case Study</p>
        <p>Made With <span style="color: red;">&#9829;</span></p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="contact-container">
        <h4>Contact Information</h4>
        <p>Phone No: +90 (542) 672 0909</p>
        <p>Email: cagirang@gmail.com</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
